
#background{
    position: fixed;
    z-index: 1;
}

#background-2{
    position: fixed;
    height: 100px;
    z-index: 2;
}

#container-fluid-contact-us{
    padding: 0px;
}

#contact-us-container{
    position: relative;

}

.breaking-barriers-img{
    position: absolute; 
    top: 150px; 
    left: 50%; 
    width: 47%; 
    z-index: 2;
}

.is-what-img{
    position: absolute; 
    top: 403px; 
    left: 52%; 
    width: 18%; 
    z-index: 2;
}

.we-do-img{
    position: absolute; 
    top: 399px;
    left: 79%;
    width: 15%;
    z-index: 2;
}

.div-form{
    width: 527px;
    height: 600px;
    background-color: #ab1d21;
    position: absolute;
    top: 150px;
    left: 9%;
    z-index: 2;
    border-radius: 45px;

}

.form-control{
    height: 60px;
    color: #999999;
    font-weight : bold;
}

.border-radius-form{
    border-radius: 50px !important;
}

.text-white{
    color:white;
}

.btn-contact-us{
    background-color: white !important;
    color:#ab1d21;
    font-weight : bold ;
    text-transform: uppercase;

}



::placeholder{
    font-size: 15px;
    color:#ab1d21;
    font-weight : bold;
}
